VITE_SUPABASE_PROJECT_ID="********************"
VITE_SUPABASE_PUBLISHABLE_KEY="*******************************************************key_given_in_supabase***********"
VITE_SUPABASE_URL="https://********************.supabase.co"
